@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #dbdbdb;
  --tertiary: #E91052;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #121212;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex)
}

main {
  grid-auto-flow: revert;
}