@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #dbdbdb;
  --tertiary: #E91052;
}

css input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}


@layer components {
  .loader-loop {
    width: 60px;
    aspect-ratio: 2;
    --loadingAn: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
    background:
      var(--loadingAn) 0% 50%,
      var(--loadingAn) 50% 50%,
      var(--loadingAn) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    /* scrollbar-color: var(--tertiary) black; */

    --foreground-rgb: 255, 255, 255;
    --background-hex: #121212;

  }

  .gallery-view::-webkit-scrollbar {
    width: 10px;
    /* or add it to the track */
  }

  .gallery-view::-webkit-scrollbar-track {
    background-color: transparent;
    /* color of the tracking area */
  }

  .gallery-view::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 20px;

  }

}


@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}



@media (max-width: 768px) {
  .gallery-view::-webkit-scrollbar {
    width: 5px;
    /* or add it to the track */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex)
}

main {
  grid-auto-flow: revert;
}